meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title=tituloPagina
link(rel="icon" href="/multimedia/images/svg/deadpool_01.svg")
//link(rel="stylesheet" href="/css/toastr.min.css")
link(rel="stylesheet", href="/css/bootstrap.css")
link(rel="stylesheet", href="/css/font-awesome.css")
link(rel="stylesheet", href="/css/site.css")
