<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
        link(rel="stylesheet", href="/css/acceso.css")

    body
        .container
            .d-flex.justify-content-center.h-100
                .card
                    .card-header.text-center
                        h2 Ingresa la nueva clave para tu cuenta

                    .card-body
                        form(method="POST")
                            .input-group.form-group
                                .input-group-prepend
                                    span.input-group-text
                                        i.fa.fa-envelope-o
                                input.form-control(type="password" id="clave" name="clave" placeholder="Ingresa tu clave")

                            .form-group
                                input.btn.float-right.acceso_btn(type="submit" value="Restablecer")
                        
                        if locals.mensajes
                            each categoria in Object.keys(locals.mensajes)
                                each error in mensajes[categoria]
                                    .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                                        strong=error
                                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                                            span(aria-hidden="true") ×

        include partials/footer